USE [master]
GO
/****** Object:  Database [BATZ]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE DATABASE [BATZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BATZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\BATZ.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BATZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014\MSSQL\DATA\BATZ_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BATZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BATZ]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[AlbumName] [varchar](100) NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[AlbumCoverImage] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlbumTrack]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AlbumTrack](
	[AlbumTrackId] [int] IDENTITY(1,1) NOT NULL,
	[TrackName] [varchar](50) NOT NULL,
	[AlbumId] [int] NOT NULL,
	[TrackFilePath] [varchar](50) NULL,
 CONSTRAINT [PK_AlbumTrack] PRIMARY KEY CLUSTERED 
(
	[AlbumTrackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[PostDate] [date] NOT NULL,
	[PostBody] [varchar](max) NOT NULL,
	[AuthorFirstName] [varchar](50) NULL,
	[CatagoryId] [int] NOT NULL,
	[StatusofApproval] [int] NOT NULL,
	[AuthorLastName] [varchar](50) NULL,
 CONSTRAINT [PK_BlogPost] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categorys]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categorys](
	[CatagoryId] [int] IDENTITY(1,1) NOT NULL,
	[CatagoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CatagoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MediaLinks]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MediaLinks](
	[MediaLinkId] [int] IDENTITY(1,1) NOT NULL,
	[MediaLinkURL] [varchar](max) NOT NULL,
	[MediaType] [int] NOT NULL,
	[MediaLinkName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MediaLinks] PRIMARY KEY CLUSTERED 
(
	[MediaLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MediaLinksBlogs]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaLinksBlogs](
	[MediaLinkId] [int] NOT NULL,
	[BlogId] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MediaTypes]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MediaTypes](
	[MediaTypeId] [int] IDENTITY(1,1) NOT NULL,
	[MediaType] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CustomerFirstName] [varchar](50) NOT NULL,
	[CustomerCity] [varchar](50) NOT NULL,
	[CustomerState] [varchar](50) NOT NULL,
	[CustomerLastName] [varchar](50) NOT NULL,
	[OrderStatus] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PageTags]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageTags](
	[PageId] [int] NOT NULL,
	[TagId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTags]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTags](
	[BlogId] [int] NULL,
	[TagId] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[ProductCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCategoryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[ProductCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[ProductDescription] [varchar](max) NULL,
	[Price] [money] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductImagePath] [varchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shows]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shows](
	[ShowId] [int] IDENTITY(1,1) NOT NULL,
	[VenueName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[ShowDate] [date] NOT NULL,
 CONSTRAINT [PK_Shows] PRIMARY KEY CLUSTERED 
(
	[ShowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StaticPages]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaticPages](
	[PageId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[PageBody] [varchar](max) NOT NULL,
 CONSTRAINT [PK_StaticPages] PRIMARY KEY CLUSTERED 
(
	[PageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tags](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([AlbumId], [AlbumName], [ReleaseDate], [AlbumCoverImage]) VALUES (1, N'TestAlbum', CAST(N'2016-10-01' AS Date), N'/MediaFiles/AlbumCover1.jpg')
INSERT [dbo].[Albums] ([AlbumId], [AlbumName], [ReleaseDate], [AlbumCoverImage]) VALUES (5, N'Another Test Album', CAST(N'2015-10-01' AS Date), N'/MediaFiles/AlbumCover1.jpg')
SET IDENTITY_INSERT [dbo].[Albums] OFF
SET IDENTITY_INSERT [dbo].[AlbumTrack] ON 

INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (1, N'TestSong', 1, N'/MediaFiles/albumtTrack1.mp3')
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (2, N'Tessssssst', 1, N'/MediaFiles/albumTrack2.mp3')
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (6, N'Ashing in the BackSeat', 5, N'/MediaFiles/albumTrack2.mp3')
SET IDENTITY_INSERT [dbo].[AlbumTrack] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'bd33a26d-bdb3-440e-b7ae-b15409103169', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'a2da46b0-56fc-46ce-a816-ef55e2617a11', N'BandMember')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c818146d-c705-45c2-b5a5-8e5ef9af416d', N'ContentWriter')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'1965881c-e5ba-4d9d-bead-7b7671d54ba4', N'6b6b747d-2c07-4480-857a-6328d89e7ade')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5b2938a8-6bc9-44f8-a421-83e146fdb152', N'6b6b747d-2c07-4480-857a-6328d89e7ade')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5b2938a8-6bc9-44f8-a421-83e146fdb152', N'bd33a26d-bdb3-440e-b7ae-b15409103169')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'1965881c-e5ba-4d9d-bead-7b7671d54ba4', N'Customer@gmail.com', 0, N'ADD30JIOZEmiE+Ycjif67EhTbk9R4cQTX8oO21odUrLwiG7UpOxlJxCQBdeghIcubQ==', N'3ad33429-6b2d-4e22-adac-d10c0863b6a6', NULL, 0, 0, NULL, 1, 0, N'Customer@gmail.com', N'Customer', N'Customer')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'5b2938a8-6bc9-44f8-a421-83e146fdb152', N'Admin@gmail.com', 0, N'ACcpyBVvAzYDr+wV8fseKOHWGTwRafpxZJQRSRt9dA0zDj6XtZ1CnCMN+QBa5xsh5w==', N'0f129d40-a945-4e74-905e-29c4236645b2', NULL, 0, 0, NULL, 1, 0, N'Admin@gmail.com', N'Admin', N'Admin')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName]) VALUES (N'bae907d1-71d5-4550-81ec-afab90202c60', N'BandMember@gmail.com', 0, N'APzlRqR3y6Ow2Ql0JLSaF8KtefKpacgQIZO5u8rDkxAO184A/0YIMBNomakLMxu9tA==', N'25844ae1-978a-48ff-bc92-244ff9ae5485', NULL, 0, 0, NULL, 1, 0, N'BandMember@gmail.com', N'BandMember', N'BandMember')
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (11, N'New Album', CAST(N'2016-12-05' AS Date), N'<p>We have a new album thats coming out. Give it a listen you''ll really like it.&nbsp;</p>', N'Admin', 3, 1, N'Admin')
INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (13, N'New Product!', CAST(N'2016-12-05' AS Date), N'<p>We have an exciting new product in the store you should check out!</p>', N'Admin', 2, 1, N'Admin')
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
SET IDENTITY_INSERT [dbo].[Categorys] ON 

INSERT [dbo].[Categorys] ([CatagoryId], [CatagoryName]) VALUES (1, N'Posts')
SET IDENTITY_INSERT [dbo].[Categorys] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (1, CAST(N'2016-11-30' AS Date), 2, 2, N'Benjamin', N'Cleveland Heights', N'OH - Ohio', N'Kraus', 2)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (2, CAST(N'2016-12-05' AS Date), 2, 3, N'June', N'C hts', N'Oh ', N'bug', 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (4, CAST(N'2016-12-06' AS Date), 4, 2, N'June', N'Cleveland', N'Oh', N'Bug', 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (11, 21)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (12, 19)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (12, 20)
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([ProductCategoryId], [ProductCategoryName]) VALUES (1, N'Clothing')
INSERT [dbo].[ProductCategories] ([ProductCategoryId], [ProductCategoryName]) VALUES (2, N'Albums')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (2, N'Ryan Tshirt', N'Great T-shirt with ryans face. Great for frightening children', 15.0000, 1, N'/MediaFiles/Images/ryanface.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (4, N'Jacob T-Shirt', N'Whoa who put this guy on a t-shirt. Great way to keep the ladies away', 15.0000, 1, N'/MediaFiles/Images/jacobface.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (5, N'Album 1', N'Great album', 20.0000, 2, N'/MediaFiles/AlbumCover1.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Shows] ON 

INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (2, N'Akron Civic', N'Akron', N'Ohio', CAST(N'2016-12-20' AS Date))
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (3, N'NationWideArena', N'Columbus', N'ohio', CAST(N'2016-11-15' AS Date))
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (4, N'The SoftwareGuild', N'Akron', N'Oh', CAST(N'2016-12-25' AS Date))
SET IDENTITY_INSERT [dbo].[Shows] OFF
SET IDENTITY_INSERT [dbo].[StaticPages] ON 

INSERT [dbo].[StaticPages] ([PageId], [Title], [PageBody]) VALUES (2, N'Upcoming Tour', N'<p>This is an upcoming tour&nbsp;</p>')
SET IDENTITY_INSERT [dbo].[StaticPages] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (1, N'work')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (2, N'please')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (3, N'p')
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 12/6/2016 5:14:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlbumTrack]  WITH CHECK ADD  CONSTRAINT [FK_AlbumTrack_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
GO
ALTER TABLE [dbo].[AlbumTrack] CHECK CONSTRAINT [FK_AlbumTrack_Albums]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MediaLinksBlogs]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinksBlogs_BlogPosts] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([BlogId])
GO
ALTER TABLE [dbo].[MediaLinksBlogs] CHECK CONSTRAINT [FK_MediaLinksBlogs_BlogPosts]
GO
ALTER TABLE [dbo].[MediaLinksBlogs]  WITH CHECK ADD  CONSTRAINT [FK_MediaLinksBlogs_MediaLinks] FOREIGN KEY([MediaLinkId])
REFERENCES [dbo].[MediaLinks] ([MediaLinkId])
GO
ALTER TABLE [dbo].[MediaLinksBlogs] CHECK CONSTRAINT [FK_MediaLinksBlogs_MediaLinks]
GO
ALTER TABLE [dbo].[PageTags]  WITH CHECK ADD  CONSTRAINT [FK_PageTag_StaticPages] FOREIGN KEY([PageId])
REFERENCES [dbo].[StaticPages] ([PageId])
GO
ALTER TABLE [dbo].[PageTags] CHECK CONSTRAINT [FK_PageTag_StaticPages]
GO
ALTER TABLE [dbo].[PageTags]  WITH CHECK ADD  CONSTRAINT [FK_PageTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[PageTags] CHECK CONSTRAINT [FK_PageTag_Tag]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_PostTag_BlogPost] FOREIGN KEY([BlogId])
REFERENCES [dbo].[BlogPosts] ([BlogId])
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_PostTag_BlogPost]
GO
ALTER TABLE [dbo].[PostTags]  WITH CHECK ADD  CONSTRAINT [FK_PostTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([TagId])
GO
ALTER TABLE [dbo].[PostTags] CHECK CONSTRAINT [FK_PostTag_Tag]
GO
/****** Object:  StoredProcedure [dbo].[AddBlogPost]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddBlogPost]
(
@AuthorFirstName varchar(50),
@AuthorLastName varchar(50),
--@AuthorUserName varchar(50),
@BlogCatagory int,
@PostBody varchar(MAX),
@PostStatus int,
@PostTitle varchar(50),
@PostDate date,
@BlogId int output

)AS
--Delete a Blog Post By Id
   -- DECLARE @AuthorId int
	--INSERT INTO Authors(FirstName,LastName,UserName)
	--VALUES(@AuthorFirstName,@AuthorLastName,@AuthorUserName)

	--SET @AuthorId=(
	    -- SELECT AuthorId
	    -- FROM Authors 
	   --  WHERE FirstName=@AuthorFirstName)

	INSERT INTO BlogPosts(Title,PostDate,PostBody,CatagoryId,StatusOfApproval,AuthorFirstName,AuthorLastName)
	VALUES (@PostTitle,@PostDate,@PostBody,@BlogCatagory,@PostStatus,@AuthorFirstName,@AuthorLastName);
	SET @BlogId = SCOPE_IDENTITY();




GO
/****** Object:  StoredProcedure [dbo].[AddMediaLink]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMediaLink]
(
@BlogId int,
@MediaType int,
@MediaLink varchar(MAX)
)AS

INSERT INTO MediaLinks(MediaLinkURL,MediaType)
VALUES(@MediaLink,@MediaType)

DECLARE @MediaLinkId int;
SET @MediaLinkId=(SELECT MediaLinkId
FROM MediaLinks
WHERE MediaLinks.MediaLinkURL=@MediaLink)

INSERT INTO MediaLinksBlogs(MediaLinkId,BlogId)
VALUES(@MediaLinkId,@BlogId)








GO
/****** Object:  StoredProcedure [dbo].[AddProduct]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProduct]( 
	@ProductId int, 
	@ProductName varchar(50), 
	@ProductDescription varchar(max), 
	@Price money,
	@CategoryId int,
	@ProductImagePath varchar(max)
) AS 
BEGIN
	INSERT INTO Products (ProductName, ProductDescription, Price, CategoryId, ProductImagePath)
	VALUES (@ProductName, @ProductDescription, @Price, @CategoryId, @ProductImagePath)

	SET @ProductId = SCOPE_IDENTITY();
END







GO
/****** Object:  StoredProcedure [dbo].[AddProductOrder]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProductOrder](
	@OrderDate date, 
	@ProductId int, 
	@Quantity int,
	@CustomerFirstName varchar(50),
	@CustomerLastName varchar(50),
	@CustomerState varchar(50),
	@CustomerCity varchar(50),
	@OrderStatus int
) AS 
BEGIN
	INSERT INTO Orders (OrderDate, ProductId, Quantity, CustomerFirstName, CustomerLastName, CustomerCity, CustomerState, OrderStatus)
	VALUES (@OrderDate, @ProductId, @Quantity, @CustomerFirstName, @CustomerLastName, @CustomerCity, @CustomerState, @OrderStatus)

END


GO
/****** Object:  StoredProcedure [dbo].[AddShow]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AddShow] 
	-- Add the parameters for the stored procedure here
	@Date date,
	@Venue varchar(50),
	@City varchar(50),
	@State varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Shows(ShowDate,VenueName,City,[State])
	VALUES (@Date,@Venue,@City,@State)
END






GO
/****** Object:  StoredProcedure [dbo].[AddStaticPage]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Template generated from Template Explorer using:

CREATE PROCEDURE [dbo].[AddStaticPage]
(

@Title varchar(50),
@PageBody varchar(MAX)
)AS
INSERT INTO StaticPages(Title,PageBody)
VALUES(@Title,@PageBody)








GO
/****** Object:  StoredProcedure [dbo].[AddTag]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTag]
(
/*@BlogId int,*/

@Name varchar(50)
)AS

INSERT INTO Tags(Name)
VALUES(@Name)
--DECLARE @TagId int 
--SET @TagId=(
--SELECT TagId
--FROM Tags
--WHERE Tags.Name=@Name
--)
/*INSERT INTO PostTags(BlogId,TagId)
VALUES(@BlogId,@TagId)*/










GO
/****** Object:  StoredProcedure [dbo].[AddTagToBridgeTable]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTagToBridgeTable](
	@TagId int,
	@BlogId int
)
AS BEGIN
	INSERT INTO PostTags (TagId, BlogId)
	VALUES (@TagId, @BlogId)
END



GO
/****** Object:  StoredProcedure [dbo].[DeleteBlogPost]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteBlogPost]
(
@BlogId int
)AS
--Delete a Blog Post By Id

	Delete BlogPosts
	Where BlogId = @BlogId;








GO
/****** Object:  StoredProcedure [dbo].[DeleteMediaLink]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMediaLink]
(
@BlogId int,

@MediaLinkId int
)AS

Delete MediaLinks
	  WHERE MediaLinkId=@MediaLinkId




DELETE MediaLinksBlogs
		WHERE MediaLinksBlogs.BlogId=@BlogId AND MediaLinksBlogs.MediaLinkId=@MediaLinkId








GO
/****** Object:  StoredProcedure [dbo].[DeleteProduct]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProduct](
	@ProductId int 
)
AS BEGIN
DELETE Products WHERE ProductId = @ProductId
END

GO
/****** Object:  StoredProcedure [dbo].[DeleteShow]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteShow] 
	-- Add the parameters for the stored procedure here
	@ShowId	int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from Shows where ShowId = @ShowId
END






GO
/****** Object:  StoredProcedure [dbo].[DeleteStaticPage]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Delete Static Page

CREATE PROCEDURE [dbo].[DeleteStaticPage]
(
@PageId int

)AS

DELETE StaticPages
WHERE PageId=@PageId








GO
/****** Object:  StoredProcedure [dbo].[DeleteTag]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTag]
(
@BlogId int,

@TagId int
)AS

DELETE Tags
	  WHERE TagId=@TagId




DELETE PostTags

		WHERE PostTags.BlogId=@BlogId AND  PostTags.TagId=@TagId








GO
/****** Object:  StoredProcedure [dbo].[EditBlogPost]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditBlogPost]
(
@BlogId int,
--@AuthorId int, 
--@AuthorFirstName varchar(50),
--AuthorLastName varchar(50),
--@AuthorUserName varchar(50),
@BlogCatagory int,
@PostBody varchar(MAX),
@PostStatus int,
@PostTitle varchar(50),
@PostDate date

)AS
--Delete a Blog Post By Id
	--UPDATE Authors
	--SET FirstName=@AuthorFirstName,
	  --  LastName=@AuthorLastName,
		--UserName=@AuthorUserName
		--WHERE AuthorId=@AuthorId
		--UPDATE BlogPosts
		--SET Title=@PostTitle,
		--    PostDate=@PostDate,
		--	PostBody=@PostBody,
		--	CatagoryId=@BlogCatagory,
		--	StatusOfApproval=@PostStatus,
			--AuthorId=@AuthorId
			--WHERE BlogId=@BlogId

	
		UPDATE BlogPosts
		SET Title=@PostTitle,
		    PostDate=@PostDate,
			PostBody=@PostBody,
			CatagoryId=@BlogCatagory,
			StatusOfApproval=@PostStatus
		
			WHERE BlogId=@BlogId







GO
/****** Object:  StoredProcedure [dbo].[EditMediaLink]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditMediaLink]
(
@BlogId int,
@MediaType int,
@MediaLink varchar(MAX),
@MediaLinkId int
)AS

Update MediaLinks
      SET MediaLinkURL=@MediaLink,
      MediaType=@MediaType
	  WHERE MediaLinkId=@MediaLinkId




UPDATE MediaLinksBlogs
SET MediaLinkId=@MediaLinkId,
		BlogId=@BlogId
		WHERE MediaLinksBlogs.BlogId=@BlogId AND  MediaLinksBlogs.MediaLinkId=@MediaLinkId








GO
/****** Object:  StoredProcedure [dbo].[EditOrderStatus]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditOrderStatus]( 
	@OrderId int,
	@OrderStatus int

) AS 
BEGIN
	UPDATE Orders
	SET
	OrderStatus = @OrderStatus

	WHERE OrderId = @OrderId
END

GO
/****** Object:  StoredProcedure [dbo].[EditProduct]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditProduct]( 
	@ProductId int,
	@ProductName varchar(50), 
	@ProductDescription varchar(max), 
	@Price money,
	@CategoryId int,
	@ProductImagePath varchar(max)
) AS 
BEGIN
	UPDATE Products
	SET
	ProductName = @ProductName,
	ProductDescription = @ProductDescription,
	Price = @Price,
	CategoryId = @CategoryId,
	ProductImagePath = @ProductImagePath
	WHERE ProductId = @ProductId
END

GO
/****** Object:  StoredProcedure [dbo].[EditShow]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EditShow] 
	-- Add the parameters for the stored procedure here
	@ShowId int,
	@Date date,
	@Venue varchar(50),
	@City varchar(50),
	@State varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Shows
		SET ShowDate=@Date,
		    VenueName=@Venue,
			City=@City,
			[State]=@State
		
			WHERE ShowId=@ShowId
END






GO
/****** Object:  StoredProcedure [dbo].[EditStaticPage]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================================================
-- Edit Static Page

CREATE PROCEDURE [dbo].[EditStaticPage]
(
@PageId int,
@Title varchar(50),
@PageBody varchar(MAX)
)AS
UPDATE StaticPages
SET  
Title=@Title,
PageBody=@PageBody
WHERE PageId=@PageId








GO
/****** Object:  StoredProcedure [dbo].[EditTag]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditTag]
(
@BlogId int,
@TagId int,
@Name int
)AS

UPDATE Tags
SET Name=@Name
WHERE TagId=@TagId

UPDATE PostTags
SET BlogId=@BlogId,
TagId=TagId












GO
/****** Object:  StoredProcedure [dbo].[PopulateAlbumTracks]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PopulateAlbumTracks](@AlbumId int)
AS
BEGIN
SELECT * FROM AlbumTrack WHERE @AlbumId = "AlbumId"
END







GO
/****** Object:  StoredProcedure [dbo].[ResetTablesForTesting]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ResetTablesForTesting] 

AS

/* Truncate Bridge tables testing */
DELETE FROM AlbumTrack
DELETE FROM PostTags
DELETE FROM ProductCategories


/* Truncate tables for testing */
DELETE FROM Categorys
DELETE FROM Orders
DELETE FROM Products
DELETE FROM Shows
DELETE FROM Albums
DELETE FROM Tags
DELETE FROM StaticPages
DELETE FROM BlogPosts


/* Populate tables for testing */
SET IDENTITY_INSERT [dbo].[Albums] ON 
INSERT [dbo].[Albums] ([AlbumId], [AlbumName], [ReleaseDate], [AlbumCoverImage]) VALUES (1, N'TestAlbum', CAST(N'2016-10-01' AS Date), N'/MediaFiles/AlbumCover1.jpg')
INSERT [dbo].[Albums] ([AlbumId], [AlbumName], [ReleaseDate], [AlbumCoverImage]) VALUES (5, N'Another Test Album', CAST(N'2015-10-01' AS Date), N'/MediaFiles/AlbumCover1.jpg')
SET IDENTITY_INSERT [dbo].[Albums] OFF 

SET IDENTITY_INSERT [dbo].[BlogPosts] ON 
INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (11, N'New Album', CAST(N'2016-12-05' AS Date), N'<p>We have a new album thats coming out. Give it a listen you''ll really like it.&nbsp;</p>', N'Admin', 3, 1, N'Admin')
INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (12, N'Upcoming Show!', CAST(N'2016-12-05' AS Date), N'<p>Bacon ipsum dolor amet hamburger meatloaf burgdoggen tail swine ham capicola andouille chuck strip steak shankle porchetta. Alcatra sausage kevin, jowl pancetta rump swine filet mignon. Fatback shoulder brisket biltong beef ribs short loin flank hamburger rump kevin jowl turkey bacon bresaola short ribs. Rump hamburger ham, beef t-bone landjaeger leberkas jowl salami ground round chuck.</p>
<p>&nbsp;</p>
<p>Pastrami ham biltong, pork belly beef brisket jowl tail ground round porchetta pork chop meatball tongue corned beef short loin. Andouille tongue pancetta strip steak meatloaf ham cow bacon kielbasa brisket alcatra bresaola capicola jerky. Bresaola tri-tip brisket, pork chop turkey chuck t-bone sausage sirloin flank fatback leberkas. Beef pancetta leberkas, pig bresaola jowl swine tri-tip flank shankle. Frankfurter capicola jowl, picanha spare ribs beef swine flank strip steak kevin brisket venison short ribs. Filet mignon sirloin leberkas andouille t-bone, pastrami swine short ribs meatloaf ground round prosciutto turducken chuck beef ribs.</p>', N'Admin', 1, 1, N'Admin')
INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (13, N'New Product!', CAST(N'2016-12-05' AS Date), N'<p>We have an exciting new product in the store you should check out!</p>', N'Admin', 2, 1, N'Admin')
INSERT [dbo].[BlogPosts] ([BlogId], [Title], [PostDate], [PostBody], [AuthorFirstName], [CatagoryId], [StatusofApproval], [AuthorLastName]) VALUES (17, N'test post', CAST(N'2016-12-05' AS Date), N'<p>more test content on this post</p>', N'BandMember', 1, 3, N'BandMember')
SET IDENTITY_INSERT [dbo].[BlogPosts] OFF

SET IDENTITY_INSERT [dbo].[Categorys] ON 
INSERT [dbo].[Categorys] ([CatagoryId], [CatagoryName]) VALUES (1, N'Posts')
SET IDENTITY_INSERT [dbo].[Categorys] OFF 

SET IDENTITY_INSERT [dbo].[Orders] ON 
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (1, CAST(N'2016-11-30' AS Date), 2, 2, N'Benjamin', N'Cleveland Heights', N'OH - Ohio', N'Kraus', 2)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (2, CAST(N'2016-12-05' AS Date), 2, 3, N'June', N'C hts', N'Oh ', N'bug', 1)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (4, CAST(N'2016-12-06' AS Date), 4, 2, N'June', N'Cleveland', N'Oh', N'Bug', 0)
INSERT [dbo].[Orders] ([OrderId], [OrderDate], [ProductId], [Quantity], [CustomerFirstName], [CustomerCity], [CustomerState], [CustomerLastName], [OrderStatus]) VALUES (6, CAST(N'2016-11-15' AS Date), 5, 1, N'Tester', N'test', N'test', N'Testing', 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF

SET IDENTITY_INSERT [dbo].[Products] ON
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (2, N'Ryan Tshirt', N'Great T-shirt with ryans face. Great for frightening children', 15.0000, 1, N'/MediaFiles/Images/ryanface.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (4, N'Jacob T-Shirt', N'Whoa who put this guy on a t-shirt. Great way to keep the ladies away', 15.0000, 1, N'/MediaFiles/Images/jacobface.jpg')
INSERT [dbo].[Products] ([ProductId], [ProductName], [ProductDescription], [Price], [CategoryId], [ProductImagePath]) VALUES (5, N'Album 1', N'Great album', 20.0000, 2, N'/MediaFiles/AlbumCover1.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF

SET IDENTITY_INSERT [dbo].[Shows] ON
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (2, N'Akron Civic', N'Akron', N'Ohio', CAST(N'2016-12-20' AS Date))
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (3, N'NationWideArena', N'Columbus', N'ohio', CAST(N'2016-11-15' AS Date))
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (4, N'The SoftwareGuild', N'Akron', N'Oh', CAST(N'2016-12-25' AS Date))
INSERT [dbo].[Shows] ([ShowId], [VenueName], [City], [State], [ShowDate]) VALUES (5, N'The Q', N'Cleveland', N'Oh', CAST(N'2016-12-20' AS Date))
SET IDENTITY_INSERT [dbo].[Shows] OFF

SET IDENTITY_INSERT [dbo].[StaticPages] ON
INSERT [dbo].[StaticPages] ([PageId], [Title], [PageBody]) VALUES (2, N'Upcoming Tour', N'<p>This is an upcoming tour&nbsp;</p>')
SET IDENTITY_INSERT [dbo].[StaticPages] OFF

SET IDENTITY_INSERT [dbo].[Tags] ON
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (1, N'work')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (2, N'please')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (3, N'p')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (4, N'b')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (5, N'a')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (6, N'b')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (7, N'a')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (8, N'c')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (9, N'band')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (10, N'batz')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (11, N'awesome')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (12, N'travellling')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (13, N'this')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (14, N'status')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (15, N'member')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (16, N'rules')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (17, N'cool')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (18, N'taggy')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (19, N'shows')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (20, N'music')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (21, N'album')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (22, N'newsongs')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (23, N'tag')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (24, N'dsf')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (25, N'sd')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (26, N'sdf')
INSERT [dbo].[Tags] ([TagId], [Name]) VALUES (27, N'show')
SET IDENTITY_INSERT [dbo].[Tags] OFF


/* Populate Bridge tables for testing */
SET IDENTITY_INSERT [dbo].[AlbumTrack] ON
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (1, N'TestSong', 1, N'/MediaFiles/albumtTrack1.mp3')
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (2, N'Tessssssst', 1, N'/MediaFiles/albumTrack2.mp3')
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (6, N'Ashing in the BackSeat', 5, N'/MediaFiles/albumTrack2.mp3')
INSERT [dbo].[AlbumTrack] ([AlbumTrackId], [TrackName], [AlbumId], [TrackFilePath]) VALUES (9, N'Well, thats one way to do it', 5, N'/MediaFiles/albumTrack2.mp3')
SET IDENTITY_INSERT [dbo].[AlbumTrack] OFF

INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (11, 21)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (12, 19)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (12, 20)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (11, 22)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (13, 20)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (13, 21)
INSERT [dbo].[PostTags] ([BlogId], [TagId]) VALUES (17, 23)

SET IDENTITY_INSERT [dbo].[ProductCategories] ON
INSERT [dbo].[ProductCategories] ([ProductCategoryId], [ProductCategoryName]) VALUES (1, N'Clothing')
INSERT [dbo].[ProductCategories] ([ProductCategoryId], [ProductCategoryName]) VALUES (2, N'Albums')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF


GO
/****** Object:  StoredProcedure [dbo].[SalesByCategory]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SalesByCategory]
AS BEGIN
Select Products.CategoryId AS ProductCategory, Sum(Orders.Quantity * Products.Price) as MoneyMade
FROM Products
inner join Orders
on Orders.ProductId = Products.ProductId
Group by Products.CategoryId Order by MoneyMade desc
END

GO
/****** Object:  StoredProcedure [dbo].[SalesByItem]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SalesByItem]
AS BEGIN
Select ProductName, Sum(Orders.Quantity * Products.Price) as MoneyMade
FROM Products
inner join Orders
on Orders.ProductId = Products.ProductId
Group by ProductName Order by MoneyMade desc
END

GO
/****** Object:  StoredProcedure [dbo].[SalesByMonthYear]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SalesByMonthYear]
AS BEGIN
Select CAST(MONTH(Orders.OrderDate) AS VARCHAR(2)) + '-' + CAST(YEAR(Orders.OrderDate) AS VARCHAR(4)) as mmyyyy, SUM(Orders.Quantity * Products.Price) as MoneyMade
from Orders 
inner join Products
on Orders.ProductId = Products.ProductId
GROUP BY CAST(MONTH(Orders.OrderDate) AS VARCHAR(2)) + '-' + CAST(YEAR(Orders.OrderDate) AS VARCHAR(4)) ORDER BY mmyyyy DESC
END

GO
/****** Object:  StoredProcedure [dbo].[TotalSales]    Script Date: 12/6/2016 5:14:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TotalSales]
AS BEGIN
Select SUM(Orders.Quantity * Products.Price) as TotalSales
from Orders 
inner join Products
on Orders.ProductId = Products.ProductId
END

GO
USE [master]
GO
