@model Exercises.Models.Data.Student

@{
    ViewBag.Title = "DeleteStudent";
}

<h2>DeleteStudent</h2>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        @using(Html.BeginForm())
        {
            @Html.HiddenFor(s => s.StudentId)
            <p> Are you sure want to delete @Html.DisplayFor(s => s.FirstName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Index", "Student", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>