<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="TEST"/>
  </appSettings>
  <connectionStrings>
    <add name="BATZ" connectionString="Server=.\SQL2014;Database=BATZ;User Id=sa; Password=sqlserver;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>