@model BATZBlog.Models.OrderDashboard

@{
    ViewBag.Title = "Order Dashboard";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row blogTitle margin-spacer">
                <div class="col-xs-6">
                    <div>
                        Order Dashboard Display
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="right">
                        Total Orders : @Model.TotalSales
                    </div>
                </div>
            </div>
            <div class="row blogBodyFull margin-spacer">
                <div class="col-xs-6">
                    <div>
                        <canvas id="salesByCategoryChart" height="500" width="500"></canvas>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div>
                        <canvas id="myChart" width="500" height="400"></canvas>
                    </div>
                </div>
            </div>
            @*<h2>Sales by Category </h2>
                @foreach(var kvp in Model.SalesByCategory)
                {
                    <h3>Category: @kvp.Key.ToString()    Sales: $@kvp.Value</h3>
                }*@
            @*<div height="300" width="100">
            <canvas id="salesByCategoryChart"></canvas>
        </div>


        <h2>Sales by item</h2>
        @foreach(var kvp in Model.SalesByItem)
        {
            <h3>Item: @kvp.Key Sales: $@kvp.Value</h3>
        }
        <div width="100" height="100">
            <canvas id="myChart"></canvas>
        </div>


        <h2>Sales by Month</h2>
        @foreach(var kvp in Model.SalesByMonthYear)
        {
            <h3>Month: @kvp.Key Sales: $@kvp.Value</h3>
        }*@

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/App/DashboardGraphs.js"></script>
}