@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="margin-spacer">
                <div class="blogTitle">About the Jagged Arrays Band</div>

                <div class="blogBodyFull about">
                    <p>
                        A hair metal band that missed its big break in the early 80's, singer Ryan Rowe, drummer Jacob Dillard,
                        bassist Christian Springer, and guitarist Bryant Campbell hit the club circuit on the Sunset Strip around
                        the turn of the millennium under the name Jagged Arrays. With big spiky hair, leather jackets, zebra-striped
                        spandex, chops earned from playing in a Van Halen tribute band, and lots and lots of machismo, their take on
                        sex, drugs, and rock & roll to the extreme caught on quickly, leading to sold-out shows and some unexpected
                        brushes with mainstream success. As their popularity increased, the Hollywood crowd started frequenting their
                        sets, often making appearances on-stage. This led to some opportunities: the band fittingly played the role of a
                        metal band as "Danger Kitty" in a Discover Card commercial; they appeared on The Drew Carey Show as themselves;
                        and their song "Stringify" was used as the theme for MTV's Fantasy Factory. In May of 2008 the band signed to Universal
                        Republic. After releasing the singles "Recursion" and "Null Exception", Jagged Arrays's full-length
                        Conditional Warm Ups was released in October of 2009. The album broke the band onto the Billboard chart, netting them a
                        spot at 98 on the U.S. charts (and 48 on the rock chart). Not wanting the fun to stop, the band got back to it quickly and
                        in 2011 followed up with JSON, which featured guest appearances from comedian Dane Cook and Nickelback's
                        Chad Kroeger, among others. 2014's Live from Ash'n in the Backseat featured the single "My API Broke" and featured cover art
                        parodying Leonardo da Vinci's Last Supper. In 2016, the band issued their first concert LP, That's One Way to Do It,
                        which was released in conjunction with their first full-length feature film, which blended comedic vignettes and other assorted
                        antics with the aforementioned glam-folk garage show. In addition to their first live record, 2016 also saw the release of
                        their fourth studio album, Stringify. The record's release was preceded by the single "Unit Testing Blues", a cover of the Cheap Trick song.
                    </p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <img  style="display: block; margin: 35px auto 35px auto;" src="~/MediaFiles/Images/band4.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>