@{
    ViewBag.Title = "Contact Us";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="contactContainer">
                <div class="blogTitle">
                    <div>@ViewBag.Title.</div>
                </div>

                <div>
                    <img class="contactUsImage" src="~/MediaFiles/Images/band3.jpg" />
                </div>
                
                <div class="contact">
                    <div>Write to Us!</div>

                    <address>
                        526 S Main St #609<br/>
                        Akron, OH 44311<br/>
                        <abbr title="Phone">P:</abbr>
                        (855) 599-9584
                    </address>

                    <address>
                        <strong>Email the Band:</strong> <a href="mailto:Support@example.com">Band@JaggedArrays.com</a><br/>
                        <strong>Book Us!:</strong> <a href="mailto:Marketing@example.com">Marketing@JaggedArrays.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>